body {
    background-color: #a2b483;
    --scale: calc(clamp(1px, 100vw, 900px) / 900);
}

a:any-link {
    color: #a2b483;
}

main {
    margin: 40px auto 0 auto;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

#goodbye {
    width: 205px;
}

#disclamer {
    background-color: #01200F;
    color: #a2b483;
    padding: 40px;
}

#disclamer > p::before {
    content: "> ";
}

#note {
    max-width: 900px;
    width: calc(var(--scale) * 900);
}

#logo {
    max-width: 220px;
    width: calc(var(--scale) * 220);
    margin-top: -52px;
}

#cat {
    max-width: 460px;
    width: calc(var(--scale) * 460);
}