body {
    background-color: #a2b483;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    gap: 49px;

    padding-top: 40px;
    width: 100vw;
}

#cat {
    /* align-self: flex-end; */
    width: 460px;
}

#goodbye {
    /* align-self: flex-end; */
    width: 205px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
}

.button {
    height: 60px;
    width: 60px;
}

#logo {
    width: 220px;
    margin-top: -52px;
}

#note {
    width: 900px;
}

#note img, #logo img, .button img, #goodbye img, #cat img {
    max-width: 100%;
}

#cat img {
    margin-bottom: -4px;
}

@media only screen and (max-width: 600px) {
#body-wrapper {
    gap: 25px;
}

#cat {
    width: 230px;
}

#goodbye {
    width: 103px;
}

#menu {
    height: 30px;
}

.button {
    height: 630px;
    width: 30px;
}

#logo {
    width: 110px;
    margin-top: -26px;
}

#note {
    width: 450px;
}
  }