body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

#demo-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
	
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
	
    /* off */
    display: none;
}

#demo {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 13vw;

    /* off */
    display: none;
}

.header {
    width: 100%;
    padding: 30px 0 30px 0;
    text-align: center;
}

.header img {
    width: 100%;
    max-width: 850px;
    pointer-events: none;
}

.divider {
    height: 2px;
    width: 100%;
}

.divider2 {
    width: 100%;
    height: 25px;
}

.menu {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
}

.info {
    line-height: 60px;
}

.info:hover {
    text-decoration: underline;
    cursor: pointer;
}

#info-div {
    display: none;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content {
    max-width: 1000px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff !important;
}

.content-header { 
    color: #fff;
    font-size: 32px;
    margin-top: 20px;
    padding: 0 20px;
}

.content-header:first-child { 
    margin-top: 0px;
    padding: 0 20px;
}

.content-small {
    width: 1000px;
    height: 600px;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #ffffff;
    padding: 20px;
}

.content-line {
    padding-left: 20px;
}

.post {
    padding: 20px;
}

.close {
    text-align: center;
    padding: 20px;
    line-height: 75px;
}

.close:hover {
    text-decoration: underline;
    cursor: pointer;
}

.small-logo {
    text-align: center;
    padding: 20px;
    height: 75px;
    pointer-events: none;
}

.small-logo img {
    width: 200px;
    pointer-events: none;
}

#newsletter-div {
    display: none;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ml-embedded {
    width: 400px;
    filter: contrast(90%);
}

#newsletter-div > .close {
    line-height: 20px;
}

#save-div {
    display: none;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.save-img img {
    width: 100%;
    max-width: 400px;
    pointer-events: none;
}

#save-div > .close {
    line-height: 20px;
}

#save-div-2 {
    display: none;
    background-color: #000000;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.save-img-2 img {
    width: 100%;
    max-width: 400px;
    pointer-events: none;
}

#save-div-2 > .close {
    line-height: 20px;
}

.clear foot {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
