/* ---------------------- OPTIONS ---------------------- */
.navigation-button-info {
  display: initial;
}

#player {
  display: none;
}

.navigation-button-nwsletter {
  display: initial;
}

.navigation-button-save {
  display: initial;
}
/* ----------------------------------------------------- */
