#mc_embed_signup {
    background-color: #f4f4f4;
    max-width: 100%;
    width: 600px;
}

#mc_embed_signup .mc-field-group input {
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 0px;
    outline: 0;
  }

#mc_embed_signup h2 {
    font-size: 30px;
    text-align: center;
}

#mc_embed_signup .indicates-required {
    background-color: #f4f4f4;
    font-size: 18px;
}

#mc_embed_signup input.button {
    background-color: #000;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    border-radius: 0;
    width: 200px;
    text-align: center;
}

#mc_embed_signup .clear foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#mc_embed_signup .brandingLogo {
    display: none;
}