html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 14px;
    color: #333333;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-content: center;

    margin: 25px;
    gap: 25px;
}

.text-line, .text-header, .text-line-merge {
    text-align: center; 
}

.text-line-lyrics-1, .text-line-merge-lyrics-1 {
    text-align: left;
}

.text-line-lyrics-2, .text-line-merge-lyrics-2 {
    text-align: right;
}

.text-line-merge-lyrics-1, .text-line-merge-lyrics-2 {
    margin-top: -25px;
}

/* .text-header {
    font-size: 60px;
    color: rgb(177, 177, 177);
    font-weight: 600;
    margin-bottom: -40px;
} */

.text-header {
    font-size: 100px;
    color: #e0e0e0;
    font-weight: 600;
    margin-bottom: -50px;
}

.text-line-merge {
    margin-top: -25px;
}

.iframe-wrap {
    width: 100%;
    max-width: 600px;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.spotify-wrap {
    box-sizing: border-box;
    background-color: #7f7f7f;
    max-height: 500px;
    position: relative;
}

.spotify-overlay {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
}

.spotify {
    max-width: 600px;
}

a, a:visited, a:hover, a:active {
    color: #000;
}

.mini-logo, .mini-logo img {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -13px;
}

.small-img img {
    max-width: 600px;
    width: 100%;
}

@media only screen and (max-width: 550px) {

    .text-header {
        font-size: 90px;
        margin-bottom: -48px;
    }

}

@media only screen and (max-width: 500px) {

    .text-header {
        font-size: 80px;
        margin-bottom: -46px;
    }

}

@media only screen and (max-width: 450px) {

    .text-header {
        font-size: 70px;
        margin-bottom: -44px;
    }

}