/* THEME */

/* font */
body { font-family: 'Lora', serif; }

/* image filter */
body img { filter: brightness(2); filter: sepia(2);}

/* background main */
body, #info-div, #newsletter-div, #save-div { background-color: #000; }

/* background sub */
.menu { background-color: #000;}

/* selection */
::-moz-selection, ::selection  { background: #cec3b0; }

/* email selection */
#mce-EMAIL::selection, #mce-EMAIL::-moz-selection { background: #cec3b0; }

/* borders */
.divider { background-color: #59554D; }
.menu { border-bottom: 2px solid #59554D; }
.content { border: 2px solid #59554D; }

/* text main */
.menu, .content, .close, .links { color: #cec3b0; }

/* menu links */
.info:hover { text-decoration: none; cursor: pointer; color: #59554D; }

/* links */
a { color: #cec3b0; text-decoration: none; }
a:link { color: #cec3b0; text-decoration: none; }
a:visited { color: #cec3b0; text-decoration: none; }
a:hover { color: #59554D; text-decoration: none; }
a:active { color: #59554D; text-decoration: none; }

/* extra */
#mc_embed_signup { filter: sepia(1); background-color: #cec3b0; font-family: 'Lora', serif !important; }
.indicates-required { background-color: #cec3b0 !important; }
#mce-EMAIL { background-color: #59554D !important; color: #cec3b0; font-family: 'Lora', serif !important;}
#mc-embedded-subscribe { font-family: 'Lora', serif !important; background-color: #59554D !important; border-radius: 0px !important; }