/* THEME */

/* background main */
body, .menu, #info-div, #newsletter-div, #save-div { background-color: #000000; }

/* selection */
::-moz-selection, ::selection  { background: rgb(244, 244, 244, 0.2); }

/* email selection */
#mce-EMAIL::selection, #mce-EMAIL::-moz-selection { background: rgb(26, 26, 26, 0.2); }

/* borders */
.divider { background-color: #262626; }
.menu { border-bottom: 2px solid #262626; }
.content { border: 2px solid #262626; }

/* text main */
.menu, .content, .close, .links, a, a:link, a:visited, a:hover, a:active { color: #F2F2F2; }