/* THEME */

/* background main */
body, .menu, #info-div, #newsletter-div, #save-div { background-color: #000000; }

/* selection */
::-moz-selection, ::selection  { background: #fff; color:  #000}

/* email selection */
#mce-EMAIL::selection, #mce-EMAIL::-moz-selection { background: rgb(26, 26, 26, 0.2); }

/* borders */
.divider { background-color: #fff; height: 1px; }
.menu { border-bottom: 0px solid #fff; background-color: #000; color: #fff;}
.content { border: 2px solid #fff; }

/* text main */
.content, .close, .links, a, a:link, a:visited, a:hover, a:active { color: #fff; }