/* THEME */

/* background main */
body, .menu, #info-div, #newsletter-div, #save-div { background-color: #000000; }

/* selection */
::-moz-selection, ::selection  { background: #fff; color:  #000}

/* email selection */
#mce-EMAIL::selection, #mce-EMAIL::-moz-selection { background: rgb(26, 26, 26, 0.2); }

/* borders */
.divider { background-color: #fff; height: 1px; }
.divider2 { border-top: 1px solid #fff; }
.menu { 
    border-bottom: 0px solid #fff; 
    background-color: #000; 
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.content { border: 2px solid #fff; border: 1px solid #ffffff !important;}
.content-small { border: 1px solid #ffffff; }

/* text main */
.content, .close, .links, a, a:link, a:visited, a:hover, a:active { color: #fff; }
.content-line { color: #fff; }
.content-header { color: #fff; }

/* divs */
#save-div-2 { background-color: #000000; }